body {
    background: #bb3b3b;
    padding: 0 16px;
  }

.timer {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    border-radius: 7px;
    margin-bottom: 7px
}

.timerBody{
  margin-top: 20vh;
}

html {
    font-family: "Montserrat", sans-serif;
  }

h1{
    margin-top: 0px
}

